<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Login</ion-title>
    <ion-button slot="end" color="warning" (click)="irparaInicio()">Inicio</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item size="large" color="warning">
    <p><strong>Faça Login para ter acesso  <br> aos nossos Produtos!!!</strong></p>
  </ion-item>


  <ion-list>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <ion-button  color="warning" (click)="irparaHome()">Login</ion-button>
  </ion-list>

</ion-content>
