<ion-header>
  <ion-toolbar>
    <ion-button color="warning" slot = "end" (click)="fecharModal()">Voltar</ion-button>
    <ion-title>{{atualizar ? 'Atualizar Cliente': 'Novo Cliente'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <form #f="ngForm" (ngSubmit)="enviando(f)">
     <ion-item>
       <ion-label position="floating">Nome</ion-label>
       <ion-input [(ngModel)]="dados.nome" name="nome"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="dados.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cidade</ion-label>
      <ion-input [(ngModel)]="dados.cidade" name="cidade"></ion-input>
    </ion-item>
    <ion-button color="warning" fill="outline" expand="block" type="submit">{{atualizar ? 'Atualizar Cliente': 'Cadastrar Cliente'}}</ion-button>
   </form>
</ion-content>
