<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Small Snacks</ion-title>
    <ion-button slot="end" color="warning" (click)="irparaCadastro()">Clientes</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-item>
  <ion-label>Mudar tema</ion-label>
  <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
</ion-item>


<ion-item size="large" color="warning">
  <p><strong>Mini salgados deliciosos <br> e Bebidas geladas na sua casa agora!!!</strong></p>
</ion-item>

<!--Card-->
  <ion-card>
    <ion-img src="../../../assets/2.jfif"></ion-img>
    <ion-card-header>
      <ion-card-subtitle> R$ 0.40 Cada</ion-card-subtitle>
      <ion-card-title>Mini coxinha <br> tradicional de frango</ion-card-title>
    </ion-card-header>
    <ion-icon color="success" size="large" (click)="irparaLogin()" name="cart-outline"></ion-icon>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/3.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle> R$ 0.40 Cada</ion-card-subtitle>
      <ion-card-title>Mini italiano <br> Queijo e Presunto</ion-card-title>
    </ion-card-header>
    <ion-icon color="success" size="large" (click)="irparaLogin()" name="cart-outline"></ion-icon>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/4.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle> R$ 17.00 </ion-card-subtitle>
      <ion-card-title>Promoção <br> 10 salgados + qualquer bebida</ion-card-title>
    </ion-card-header>
    <ion-icon color="success" size="large" (click)="irparaLogin()" name="cart-outline"></ion-icon>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/5.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle> R$ 6.99 Cada</ion-card-subtitle>
      <ion-card-title>Guaraná antarctica <br> 350ml</ion-card-title>
    </ion-card-header>
    <ion-icon color="success" size="large" (click)="irparaLogin()" name="cart-outline"></ion-icon>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/6.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle> R$ 0.40 Cada</ion-card-subtitle>
      <ion-card-title>Mini pastel <br> de carne</ion-card-title>
    </ion-card-header>
    <ion-icon color="success" size="large" (click)="irparaLogin()" name="cart-outline"></ion-icon>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/7.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle> R$ 0.40 Cada</ion-card-subtitle>
      <ion-card-title>Mini pastel <br> de frango</ion-card-title>
    </ion-card-header>
    <ion-icon color="success" size="large" (click)="irparaLogin()" name="cart-outline"></ion-icon>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/8.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle> R$ 0.40 Cada</ion-card-subtitle>
      <ion-card-title>Mini esfirra aberta <br> de carne</ion-card-title>
    </ion-card-header>
    <ion-icon color="success" size="large" (click)="irparaLogin()" name="cart-outline"></ion-icon>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/9.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle> R$ 0.40 Cada</ion-card-subtitle>
      <ion-card-title>Mini esfirra <br> de frango</ion-card-title>
    </ion-card-header>
    <ion-icon color="success" size="large" (click)="irparaLogin()" name="cart-outline"></ion-icon>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/suco1.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle> R$ 5.00</ion-card-subtitle>
      <ion-card-title>Suco de Laranja da fruta <br> 500ml</ion-card-title>
    </ion-card-header>
    <ion-icon color="success" size="large" (click)="irparaLogin()" name="cart-outline"></ion-icon>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/suco2.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle> R$ 5.00</ion-card-subtitle>
      <ion-card-title>Suco de uva da fruta <br> 500ml</ion-card-title>
    </ion-card-header>
    <ion-icon color="success" size="large" (click)="irparaLogin()" name="cart-outline"></ion-icon>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/suco3.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle> R$ 5.00</ion-card-subtitle>
      <ion-card-title>Suco de abacaxi da fruta <br> 500ml</ion-card-title>
    </ion-card-header>
    <ion-icon color="success" size="large" (click)="irparaLogin()" name="cart-outline"></ion-icon>
  </ion-card>
<!--Card-->

</ion-content>
