<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Small Snacks</ion-title>
    <ion-button slot="end" color="warning" (click)="irparaCadastro()">Clientes</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  

<ion-item color="warning">
  <p>SLOGAN DA MARCA</p>
</ion-item>

  <!--Card-->
  <ion-card>
    <ion-img src="../../../assets/1.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>PEGAR IMAGEM DO BANCO</ion-card-subtitle>
      <ion-card-title>IMAGEM ESTÁTICA POR ENQUANTO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>TESTETESTE</p>
    </ion-card-content>
  </ion-card>
<!--Card-->

</ion-content>
